:root{
    --header-height: 80px;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --red-color: #eb1414;
    --header-height: 90px;
    --category-height: 300px;
}

* {
    box-sizing: inherit;
}
ul{
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-color: #fff;
}

::-webkit-scrollbar {
    width: 0;
}
::placeholder{
    color: var(--white-color);
}
.btn{
    min-width: 124px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 8px;
    outline: none;
    cursor: pointer;
    color: var(--white-color);
    background-color: var(--red-color);
}

.btn:hover{
    background-color: rgba(235, 20, 20, 0.5);
}
@keyframes headerNotifyGrowth {
	from{ 
		transform: scale(0);
		opacity: 0;
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
@keyframes fadeIn{
    from{ 
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
