.hide-on-pc{
    display: none;
}

/* Contact */

.contact{
    position: fixed;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: var(--red-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 90%;
    cursor: pointer;
    z-index: 1;
}

.contact__icon{
    color: var(--white-color);
    font-size: 2rem;
    display: block;
}


.contact__list{
    position: absolute;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s linear;
}

.contact:hover .contact__list{
    display: flex;
    opacity: 1;
    height: 228px;
}

.contact__list-item{
    padding: 6px 0;
    display: block;
}

.contact__item-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

/* Header */
#header{
    height: var(--header-height);
    width: 100%;
    padding: 0 80px;
    background-color: var(--red-color);
    position: fixed;
    top: 0;
    z-index: 2;
}

.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}
.header__mobile-search{
    width: 70px;
    display: none;
    -webkit-tap-highlight-color: transparent;
}

.header__mobile-search-icon{
    font-size: 2.6rem;
    color: var(--white-color);
}

.header__logo{
    display: flex;
    align-items: center;
}

.header__logo-icon{
    margin-right: 16px;
}

.header__store-link{
    text-decoration: none ;
    color: unset;
}

.header__logo-img{
    width: 70px;
    height: 70px;
}

.header__search-checkbox:checked ~ .header__search {
    height: 46px;
    visibility: visible;
}

.header__search{
    width: 520px;
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--white-color);
    border-radius: 50px;
}

.header__search-input{
    background-color: var(--red-color);
    width: calc(100% - 50px);
    height: 97%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-left: 1px;
}

.header__search-input-box{
    background-color: var(--red-color);
    color: var(--white-color);
    height: 100%;
    font-size: 1.4rem;
    border: none;
    outline: none;
    margin-left: 25px;
    width: calc(100% - 50px);
}

::placeholder{
    color: var(--white-color);
}

.header__search-button{
    height: 100%;
    width: 50px;
}

.header__search-button-item{
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    cursor: pointer;
}

.header__search-button-icon{
    font-size: 1.6rem;
    color: var(--red-color);
    font-weight: 600;
}

.header__icon{
    display: flex;
    justify-content: space-between;
}

.header__icon-item{
    font-size: 30px;
    color: var(--white-color);
    padding: 0 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__icon-text{
    display: flex;
    flex-direction: column;
}

.header__icon-text-item{
    font-size: 1.2rem;
    padding: 4px 8px;
}

.header__icon-cart-quantity{
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: var(--red-color);
    background-color: var(--white-color);
    padding: 4px 8px;
    border-radius: 50%;
}


/* cart */
.header__cart{
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.header__cart-list{
    z-index: 1;
    position: absolute;
    top: calc(100% + 10px);
    right: 26px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgb(0, 0, 0, 0.2);
    display: none;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    cursor: default;
}

.header__cart:hover .header__cart-list{
    display: block;
} 

.header__cart-list--not-empty{
    display: block;
}

.header__cart-list--empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.header__cart-list::after {
    cursor: pointer;
    content: "";
    position: absolute;
    right: 0;
    top: -26px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-no-cart-img {
    width: 50%;
}

.header__cart-list-no-cart-msg {
    font-size: 1.4rem;
    margin: 12px 0;
    color: var(--red-color);
    font-weight: 600;
}

.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    max-height: 60vh;
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover{
	background-color: #F8F8F8; 
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #E8E8E8;
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    color: var(--text-color);
    margin: 0;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--red-color);
}

.header__cart-item-multiply {
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-qnt {
    font-size: 1.2rem;
    color: #757575;
}

.header__cart-item-body {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}

.header__cart-item-description {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}

.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
}

.header__cart-item-remove:hover{
    color: var(--red-color);
    cursor: pointer;
}

.header__cart-view-cart{
    float: right;
    margin: 0 12px 12px 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;;
}

/* header bar */

.app-container{
    margin-top: var(--header-height);
}

/* intro bar */

.intro-bar{
    padding: 24px 0;
    justify-content: space-between;
    align-items: center;
}

.intro-bar__item{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
    text-align: center;
    max-width: 218px;
    line-height: 2rem;
    position: relative;
    cursor: default;
}

.intro-bar__img{
    width: 50px;
    height: auto;
    font-size: 3rem;
    color: var(--red-color);
    margin-right: 8px;
}

.intro-bar__title{
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 600;
}

/* intro image */
.intro-part{
    display: flex;
    justify-content: space-between;

}
.intro-image{
    display: flex;
    justify-content: right;
    overflow: hidden;
    height: 500px;
    width: 100%;
}
/* category */


.category-bar{
    list-style: none;
    width: var(--category-height);
    background-color: #f3f3f3;
    border-radius: 5px;
    z-index: 1;
    max-height: 500px;
    overflow-y: scroll;
}

.category-bar::before{
    content: "";
    width: 100%;
    height: 15px;
    background-color: transparent;
    display: block;
    position: absolute;
    top: -13px;
    left: 0;
}

.category-bar__item{
    display: block;
    text-align: left;
    padding: 12px 8px;
    border-top: 1px solid #ccc;
}

.category-bar__item:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 1px solid #f3f3f3;
}

.category-bar__item:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid #f3f3f3;

}
.category-bar__item-link{
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.8rem;
    width: 100%;
    border-radius: 5px;
}

.category-bar__item-link:hover{
    color: var(--red-color);
}

/* category mobile */
.category__input:checked ~ .category__overlay{
    display: block;
}

.category__input:checked ~ .category__mobile{
    transform: translateX(0);
    opacity: 1;
}

.category__overlay{
    position: fixed;
    top: var(--header-height);
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.2s;
}

.category__mobile{
    position: fixed;
    top: var(--header-height);
    bottom: 0;
    left: 0;
    width: 220px;
    background-color: #f3f3f3;
    z-index: 1;
    transform: translateX(-100%);
    opacity: 0;
    transition: all linear 0.2s;
    overflow-y: scroll;
}

.category-icon--mobile{
    display: none;
}

.category__bar-icon--mobile{
    font-size: 2.4rem;
    color: var(--white-color);
}

.category__mobile-header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category__mobile-click:hover .category__bar--mobile{
    display: block;
}

.category__mobile-title{
    color: var(--red-color);
    font-size: 1.6rem;
    margin: 16px;
    /* font-weight: 600; */
    display: block;
}

.category__mobile-icon-down{
    font-size: 2.4rem;
    margin: 16px;
    color: var(--red-color);
}

.category__mobile-close{
    font-size: 2.4rem;
    margin: 16px;
    color: var(--red-color);
}

.category__bar--mobile{
    list-style: none;
    overflow-y: scroll;
    position: absolute;
    width: 220px;
    display: none;
    top: 100%;
}

.category__bar-item--mobile-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 600;
}

.category__bar-item--mobile{
    padding: 12px 16px;
}

/* best seller */

.product-event__title{
    font-size: 2rem;
    margin-top: 40px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.product-event__item{
    margin-top: 10px;
    text-decoration: none;
    display: block;
    border: 1px solid #ccc;
    border-radius: 3px;
    position: relative;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}

.product-event__item-img{
    padding-top: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.product-event__item-name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px;
    overflow: hidden;
    height: 3.6rem;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.product-event__item-price{
    color: var(--red-color);
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}
.product-event__item-price--old{
    padding-right: 10px;
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}
.product-event__item-add{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.best-seller__label{
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--white-color);
    background-color: var(--red-color);
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.best-seller__label::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}



.discount__label{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 30px;
    text-align: center;
    background-color: rgba(255, 216, 64, 0.93);
    border-top-right-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.discount__label::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    color: rgba(255, 216, 64, 0.93);
    border-color: transparent currentColor transparent currentColor;
}

.discount__label-percent{
    margin-top: 2px;
    color: #EE4D2D;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.3rem;
}

.discount__label-text{
    color: var(--white-color);
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 600;
}
.row.product-event__list.slick-initialized.slick-slider{
    position: relative;
}

.slick-arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    font-size: 30px;
    color: var(--red-color);
    cursor: pointer;
    transition: all linear 0.15s;
}

.slick-arrow:hover{
    background-color: var(--red-color);
    color: var(--white-color);
}


.slick-next.pull-right.slick-arrow{
    right: -50px;
}

.slick-prev.pull-left.slick-arrow{
    left: -50px;
}

/* footer */

.footer{
    margin-top: 50px;
    width: 100%;
    background-color: #333;
    padding-bottom: 50px;
}


.contact--footer{
    padding-top: 25px;
}

.contact__header{
    padding-bottom: 20px;
    font-size: 2.4rem;
    text-transform: uppercase;
    color: var(--white-color);
}

.contact__infor{
    display: flex;
    padding-bottom: 16px;
}

.contact__infor-icon{
    font-size: 2rem;
    
}

.contact__infor-text{
    font-size: 1.4rem;
    margin-left: 16px;
    color: var(--white-color);
    font-weight: 600;
}

.contact__img-list{
    display: flex;
}

.contact__img{
    display: block;
    width: 30px;
    margin-right: 16px;
    border-radius: 50%;
}


.about-us{
    padding-top: 25px;
}

.about-us__title{
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;
    color: var(--white-color);
}

.about-us__description{
    font-size: 1.4rem;
    color: var(--white-color);
    text-align: center;
    padding-bottom: 16px;
    line-height: 2rem;
}

