/* mobile and tablet devices*/

@media (max-width: 1024px) {
    .hide-on-tablet-mobile{
        display: none!important;
    }
    #header{
        padding: 0 10px;
    }
    .category-icon--mobile{
        display: block;
    }

    /* button slider */
    
    .slick-next.pull-right.slick-arrow{
        right: 0;
    }

    .slick-prev.pull-left.slick-arrow{
        left: 0;
    }
    .slick-arrow{
        width: 35px;
        height: 35px;
        font-size: 18px;
    }
}

/* tablet */

@media (min-width: 740px) and (max-width: 1024px) {
    /* Header */
    .hide-on-tablet{
        display: none;
    }
    .header__search{
        width: 450px;
    }
    /* intro-bar */
    .intro-bar__title{
        font-size: 1rem;
    }
    .intro-image__item{
        /* width: auto!important; */
        height: 350px;
    }
    .intro-image{
        height: 350px;
    }
    .header__logo-img{
        width: 50px;
        height: 50px;
    }

    .contact__header,
    .about-us__title{
        font-size: 2rem;
    }
}


@media (max-width: 739px){
    .hide-on-mobile{
        display: none;
    }
    /* header */
    .header__cart-list{
        right: 0;
        top: var(--header-height);
        position: fixed;
        width: 100%;
    }
    .header__cart-list::after{
        display: none;
    }
    .header__mobile-search{
        display: block;
    }
    .header__search {
        position: fixed;
        top: var(--header-height);
        margin: 0 -10px;
        width: 100%;
        border: 1px solid rgba(235, 20, 20, 0.5);
        transition: all 0.3s ease-out;
        height: 0;
        visibility: hidden;
        overflow: hidden;
    }

}